frameworks/runtime-src/proj.android-studio/app/assets/
frameworks/runtime-src/proj.android-studio/app/libs/
frameworks/runtime-src/proj.android-studio/app/obj/
frameworks/runtime-src/proj.android-studio/local.properties
frameworks/runtime-src/proj.android-studio/app/local.properties
frameworks/runtime-src/proj.ios.webview/Pods/
frameworks/runtime-src/proj.ios.webview/Podfile.lock

frameworks/runtime-src/proj.microsoft*/**/.vs/
frameworks/runtime-src/proj.microsoft*/**/bin/
frameworks/runtime-src/proj.microsoft*/**/obj/
frameworks/runtime-src/proj.microsoft*/**/AppPackages/
frameworks/runtime-src/proj.microsoft*/**/BundleArtifacts/
frameworks/runtime-src/proj.microsoft*/**/*assets.cache

frameworks/runtime-src/proj.android.pliega-build

**/node_modules/
**/build/
**/packed-build/
**/packed-build-tmp/
**/DerivedData/
!frameworks/cocos2d-x/build
!**/wysiwyg/build/
!**/common/build
**/.gradle/
**/.idea/
frameworks/**.apk
**.iml
**/.externalNativeBuild/
simulator/

**/.DS_Store
**/xcuserdata/
**/project.xcworkspace/

publish/amazon
publish/amazon-build
publish/amazon-build-build
publish/amazon-build-old
publish/pliega
publish/android
publish/android-build
publish/android-build-build
publish/android-build-old
publish/android-test-flight
publish/instant*
publish/bundles
publish/wortal
publish/wortal-staging
publish/samsung
publish/samsung-staging

publish/mobile_vk
publish/mobile_vk-staging
publish/mobile_vk-bundles

publish/android-instant
publish/android-instant-build
publish/android-instant-build-old
publish/external-staging

publish/instant.zip
publish/instant-staging.zip

publish/html5-staging
publish/html5-staging-build
publish/html5-staging-build-old
publish/html5-staging-version
publish/html5-staging-version-build
publish/html5-staging-version-build-old

publish/html5-local
publish/html5-local-pixijs

publish/plinga
publish/plinga-staging
publish/plinga-bundles
publish/huzcom
publish/huzcom-staging
publish/huzcom-bundles

publish/proj.android.yodo1
publish/publish-proj.android.yodo1
publish/publish-proj.ios.yodo1/Pods/

publish/microsoft-staging-old

publish/playableAds/packed

publish/crm-staging

publish/*-build

publish/mygames-build
publish/mygames-build-staging
publish/mygames-builds
publish/mygames

cleverapps/private/differences/source/cropped

res/packed
build.json

cafe_staging.json
.idea

farm_staging_en.json

**/package-lock.json
**/*.icloud

homefix_staging_en.json

promo/ads/
/.idea
/.idea/
